// Specific CSS for your home-page
html {
  height: 100%;
}

body {
  height: 100%;
  min-height: 35rem;
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 28px;
  max-width: 350px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
  max-width: 350px;
}


.masthead {
  background-image: url('https://res.cloudinary.com/eugeniedenis/image/upload/c_fill,w_1400/v1601984097/jeu-de-mains-banniere-desktop.png');
  background-size: cover;
  background-position: bottom;
  height: 85vh;
  .masthead-content {
    h1 {
      font-size: 28px;
    }
    h2 {
      font-size: 20px;
    }
    img {
      margin-top: 5rem;
      margin-bottom: 2rem !important;
    }

    .simple_form {
      max-width: 500px;
      margin-top: 2rem;
      display: flex;
      height: 40px;
      input {
        height: 40px;
        font-size: 1rem;
        padding: 0.5rem 1rem;
        outline: none;
        border: unset;
      }
      .email {
        min-width: 240px;
        max-width: 320px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
      #submit-button {
        font-size: 0.8rem;
        font-family: "Montserrat";
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        outline: none;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
    }
  }
}

.follow-us {
  position: absolute;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  right: -2rem;
  bottom: 9rem;
  width: 126px;
  font-size: 0.8rem;
}

@media (min-width: 767px) {
  .masthead {
    height: 85vh;
    min-height: 0;
    padding-bottom: 0;
    .masthead-bg {
      min-height: 0;
    }
    .masthead-content {
      padding-right: 10rem;
      h1 {
        font-size: 28px;
      }
      h2 {
        font-size: 20px;
      }
      img {
        margin-top: 5rem;
        margin-bottom: 2rem !important;
      }
    }
  }
}

.social-icons {
  position: absolute;
  margin-bottom: 2rem;
  width: 100%;
  z-index: 2;

  ul {
    margin-top: 2rem;
    width: 100%;
    text-align: center;
    li {
      margin-left: 0.3rem;
      margin-right: 0.3rem;
      display: inline-block;
      a {
        display: block;
        color: #235B6A;
        background-color: white;
        border-radius: 100%;
        font-size: 2rem;
        line-height: 4rem;
        height: 4rem;
        width: 4rem;
      }
      a:hover {
        color: #A5CAD0 !important;
        background-color: white !important;
        border-radius: 100%;
        font-size: 2rem;
        line-height: 4rem;
        height: 4rem;
        width: 4rem;
      }
      .fa-envelope {
        font-size: 1.8rem;
      }
    }
  }
}


@media (min-width: 767px) {
  .social-icons {
    margin: 0;
    position: absolute;
    right: 3.5rem;
    bottom: 12.5rem;
    width: auto;
    ul {
      margin-top: 0;
      width: auto;
      li {
        display: block;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 1rem;
        a {
          transition: all 0.2s ease-in-out;
          font-size: 2rem;
          line-height: 4rem;
          height: 4rem;
          width: 4rem;
        }
        a:hover {
          background-color: #002E66;
        }
      }
      li:last-child {
        margin-bottom: 0;
      }
    }
  }
}


@media (min-width: 100px) and (max-width: 574px) {
  .masthead {
    padding-bottom: 0.3rem;
    background-image: url('https://res.cloudinary.com/eugeniedenis/image/upload/c_fill,w_650/v1601984334/jeu-de-mains-banniere-mobile.png');
    height: 100vh;
    .masthead-content {
      padding-bottom: 1.3rem !important;
      img {
        max-width: 155px !important;
        width: 155px !important;
        margin-top: -2rem;
        margin-bottom: unset !important;
      }
      h1 {
        margin-top: 12rem;
        font-size: 22px;
        max-width: 300px;
      }
      h2 {
        font-size: 17px;
        max-width: 300px;
      }


      .simple_form {
        flex-direction : column;
        margin: unset;
        margin-bottom: 52px;

        input {
          width: 100%;
          border: unset;
          height: 40px !important;
        }

        .form-group {
          margin-bottom: 0.5rem;
        }
        .email {
          width: 100%;
          max-width: 100%;
          border-radius: 4px;
        }
        #submit-button {
          width: 100%;
          border-radius: 4px;
        }
      }
    }
  }


  .social-icons {
    ul {
      margin-top: unset;
      li {
        a {
          font-size: 1.7rem;
          line-height: 3rem;
          height: 3rem;
          width: 3rem;
        }
        .fa-envelope {
          font-size: 1.5rem;
        }
      }
    }
  }
  .follow-us {
    bottom: 0rem;
    left: 0.7rem;
    width: 189px;
    text-align: left;
    padding-bottom: 2px;
  }
  .instagram-link {
    padding-left: 8rem;
  }
}

@media (min-width: 575px) and (max-width: 766px) {
  .container {
    margin: unset;
    padding-left: 2rem;
  }
  .masthead {
      height:85vh;
      background-position: top;
      background: url('https://res.cloudinary.com/eugeniedenis/image/upload/c_fill,w_800/v1601984097/jeu-de-mains-banniere-tablet.png');
      padding-bottom: 0.3rem;
    .masthead-content {
      padding-bottom: 1rem !important;
      img {
        max-width: 230px !important;
        width: 230px !important;
        margin-top: 1.5rem;
        margin-bottom: unset !important;
      }
      h1 {
        margin-top: 2.5rem;
        font-size: 27px;
        max-width: 260px;
      }
      h2 {
        font-size: 18px;
        max-width: 260px;
      }

      .simple_form {
        flex-direction : column;
        margin: unset;

        input {
          width: 290px;
          border: unset;
          height: 40px !important;
        }
        .form-group {
          margin-bottom: 0.5rem;
        }
        .email {
          width: 290px;
          max-width: 290px;
          border-radius: 4px;
        }
        #submit-button {
          width: 290px;
          border-radius: 4px;
        }
      }
    }
  }


  .social-icons {
    right: 3.4rem;
    bottom: 7.5rem;
    width: unset;
    ul {
      margin-top: 0;
      li {
        a {
          font-size: 1.7rem;
          line-height: 3rem;
          height: 3rem;
          width: 3rem;
        }
        .fa-envelope {
          font-size: 1.5rem;
        }
      }

    }
  }
  .follow-us {
    bottom: 3rem;
    margin-bottom: 1rem;
    right: unset;
    width: unset;
    font-size: 13px;
  }
}

@media (min-width: 767px) and (max-width: 800px) {
  .container {
    margin-left: 3rem;
  }
}

.btn-secondary {
  background-color: #235B6A;
  border-color: #235B6A;
  &:active,
  &:focus,
  &:hover {
    background-color: #14474c !important;
    border-color: #14474c !important;
  }
}


.input {
  font-weight: 400 !important;
}

