<div class="footer">
  <div class="footer-columns">
    <div class="footer-column footer-legal-notice">
      <%= link_to "Mentions légales", mentions_legales_path %>
    </div>
    <div class="footer-column footer-policy">
      <%= link_to "Politique de confidentialité", politique_de_confidentialite_path %>
    </div>
    <div class="footer-column footer-cgu">
      <%= link_to "CGU", cgu_path %>
    </div>
  </div>
  <div class="footer-copyright">
    <span>© Jeu de mains • 2020</span>
  </div>
</div>
