<!-- CGU -->

<div class="navbar navbar-expand-sm navbar-light navbar-jdm">
  <%= link_to root_path, class: "navbar-brand" do %>
    <img loading= "lazy" alt="jeu-de-mains-logo" border="0" class="center fixedwidth" src="https://res.cloudinary.com/jeudemains/image/upload/v1593180301/jeu-de-mains-logo-blanc.svg" style="text-decoration: none; -ms-interpolation-mode: bicubic; height: auto; border: 0; display: block;" title="jeu-de-mains-logo" width="150"/>
  <% end %>
</div>



<div class="legal-container">
  <div class="legal-title mb-2">
    <h1>CGU • Conditions Générales d'Utilisation</h1>
  </div>
  <div class="legal-content">

    <div class="legal-paragraph">
      <p>
        Les présentes conditions générales régissent l’utilisation du site <%= link_to "www.jeudemains.com", root_path %>. Ce site appartient et est géré par Jeu de Mains. En utilisant ce site, vous indiquez que vous avez lu et compris les conditions d’utilisation et que vous acceptez de les respecter en tout temps.
      </p>
    </div>

    <div class="legal-paragraph">
      <h2>Propriété intellectuelle</h2>
      <p>Tout contenu publié et mis à disposition sur ce site est la propriété de Jeu de Mains. Cela comprend, mais n’est pas limité aux images, textes, logos, documents et tout ce qui contribue à la composition de ce site.</p>
    </div>

    <div class="legal-paragraph">
      <h2>Limitation de responsabilité</h2>
      <p>Les informations contenues sur ce site sont aussi précises que possibles et le site est périodiquement remis à jour, mais peut toutefois contenir des inexactitudes, des omissions ou des lacunes. Si vous constatez une lacune, erreur ou ce qui parait être un dysfonctionnement, merci de bien vouloir le signaler par email en décrivant le problème de la manière la plus précise possible (page posant problème, action déclenchante, type d’ordinateur et de navigateur utilisé, …).</p>
    </div>

    <div class="legal-paragraph">
      <h2>Litiges</h2>
      <p>Les présentes conditions sont régies par les lois françaises et toute contestation ou litiges qui pourraient naître de l’interprétation ou de l’exécution de celles-ci seront de la compétence exclusive des tribunaux dont dépend le siège social de la société Jeu de Mains. La langue de référence, pour le règlement de contentieux éventuels, est le français.</p>
    </div>

    <div class="legal-paragraph">
      <h2>Liens hypertextes</h2>
      <p>Le site internet de <%= link_to "www.jeudemains.com", root_path %> peut offrir des liens vers d’autres sites internet ou d’autres ressources disponibles sur Internet.</p>
      <p>Jeu de Mains ne dispose d’aucun moyen pour contrôler les sites en connexion avec son site internet. Jeu de Mains ne répond pas de la disponibilité de tels sites et sources externes, ni ne la garantit. Jeu de Mains ne peut être tenu pour responsable de tout dommage, de quelque nature que ce soit, résultant du contenu de ces sites ou sources externes, et notamment des informations, produits ou services qu’ils proposent, ou de tout usage qui peut être fait de ces éléments. Les risques liés à cette utilisation incombent pleinement à l’utilisateur, qui doit se conformer à leurs conditions d’utilisation.</p>
    </div>

    <div class="legal-paragraph">
      <h2>Responsabilité</h2>
      <p>Aucune autre garantie n’est accordée au client, auquel incombe l’obligation de formuler clairement ses besoins et le devoir de s’informer. Si des informations fournies par Jeu de Mains apparaissent inexactes, il appartiendra au client de procéder lui-même à toutes vérifications de la cohérence ou de la vraisemblance des résultats obtenus.</p>
      <p>Jeu de Mains ne sera en aucune façon responsable vis à vis des tiers de l’utilisation par le client des informations ou de leur absence contenue(s) dans ses produits y compris son site internet.</p>
    </div>

    <div class="legal-paragraph">
      <h2>Nous contacter</h2>
      <p>Veuillez communiquer avec nous si vous avez des questions ou des préoccupations. Nos coordonnées sont les suivantes : <%= link_to "contact@jeudemains.com", "mailto:contact@jeudemains.com" %></p>
    </div>

  </div>
</div>
