<div class="masthead">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="masthead-content text-white py-5 py-md-0">
          <img align="center" alt="jeu de mains" border="0" class="center fixedwidth" src="https://res.cloudinary.com/eugeniedenis/image/upload/v1593180301/logo-jdm-dark-blue.svg" style="text-decoration: none; -ms-interpolation-mode: bicubic; height: auto; border: 0; width: 100%; max-width: 300px; display: block; margin-bottom: 30px;" title="jeu de mains" width="120"/>
          <h1 class="mb-3">Offrez-vous un moment de détente créatif</h1>
          <h2 class="mb-3">Grâce à la nouvelle plateforme de réservation d'ateliers créatifs jeudemains.com</h2>
          <h2 class="mb-4">Ne ratez pas le lancement !</h2>

          <div class="input-group input-group-newsletter">
            <%= simple_form_for(@contact) do |f| %>
              <%= f.input :email, label: "Votre e-mail" %>
              <div class="input-group-append">
                <%= f.submit 'Me tenir informé.e', class: "btn btn-secondary", id: "submit-button" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="social-icons">
    <ul class="list-unstyled text-center mb-0">
      <li class="follow-us">
        <span>Nous suivre et nous contacter, c'est par ici !</span>
      </li>
      <li class="list-unstyled-item instagram-link">
        <a href="https://www.instagram.com/jeudemains_com/" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
      <li class="list-unstyled-item">
        <a href="mailto:contact@jeudemains.com">
          <i class="far fa-envelope"></i>
        </a>
      </li>
    </ul>
  </div>
</div>

