<div class="masthead">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="masthead-content text-white py-5 py-md-0">
          <img align="center" loading= "lazy" alt="jeu-de-mains-logo" border="0" class="center fixedwidth" src="https://res.cloudinary.com/jeudemains/image/upload/v1593180301/jeu-de-mains-logo-bleu-fonce.svg" style="text-decoration: none; -ms-interpolation-mode: bicubic; height: auto; border: 0; width: 100%; max-width: 300px; display: block; margin-bottom: 30px;" title="jeu-de-mains-logo" width="120"/>
          <div>
            <h1 class="mb-3">Offrez-vous un moment de détente créatif</h1>
            <h2 class="mb-3">Grâce à la nouvelle plateforme de réservation d'ateliers créatifs jeudemains.com</h2>
            <h2 class="mb-4">Ne ratez pas le lancement :</h2>

            <%= simple_form_for(@contact) do |f| %>
              <%= f.input :email, label: false, placeholder: "Votre e-mail" %>
              <%= f.submit 'Me tenir informé.e', class: "btn btn-secondary", id: "submit-button" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="social-icons">
    <ul class="list-unstyled text-center mb-0">
      <li class="follow-us">
        <span>Nous suivre et nous contacter, c'est par ici !</span>
      </li>
      <li class="list-unstyled-item instagram-link">
        <a href="https://www.instagram.com/jeudemains_com/" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
      <li class="list-unstyled-item">
        <a href="mailto:contact@jeudemains.com">
          <i class="far fa-envelope"></i>
        </a>
      </li>
    </ul>
  </div>
</div>

<!-- JEU DE MAINS PRESENTATION -->
<div class="home-steps-container">

  <h2 class="home-steps-title">Réservez et profitez de votre atelier créatif en toute simplicité</h2>

  <div class="home-steps-presentation">
    <div class="home-step-presentation">
      <img loading="lazy" width="200" alt="jeu-de-mains-24h-24-7j-7" title="jeu-de-mains-24h-24-7j-7" src="https://res.cloudinary.com/jeudemains/image/upload/v1594146645/jeu-de-mains-24h-24-7j-7.svg" />
      <h3>Réservation et paiement<br> 100% en ligne</h3>
      <p>Réservez et payez en toute sécurité en ligne l'atelier de votre choix, 24h/24, 7j/7</p>
    </div>
    <div class="home-step-presentation">
      <img loading="lazy" width="200" alt="jeu-de-mains-ateliers-lieux" title="jeu-de-mains-ateliers-lieux" src="https://res.cloudinary.com/jeudemains/image/upload/v1594146572/jeu-de-mains-ateliers-lieux.svg" />
      <h3>Ateliers éphémères<br> et permanents</h3>
      <p>Retrouvez un large choix d'ateliers créatifs en concept store, lors d'événements, chez l'artisan...</p>
    </div>
    <div class="home-step-presentation">
      <img loading="lazy" width="200" alt="jeu-de-mains-annuaire" title="jeu-de-mains-annuaire" src="https://res.cloudinary.com/jeudemains/image/upload/v1594368949/jeu-de-mains-annuaire.svg" />
      <h3>Accès illimité à l'annuaire des lieux et animateurs</h3>
      <p>Profitez d'un accès à la liste des partenaires lieux et animateurs et leurs pages dédiées</p>
    </div>
  </div>

</div>
