<!-- PRIVACY POLICY -->

<div class="navbar navbar-expand-sm navbar-light navbar-jdm">
  <%= link_to root_path, class: "navbar-brand" do %>
    <img loading= "lazy" alt="jeu-de-mains-logo" border="0" class="center fixedwidth" src="https://res.cloudinary.com/jeudemains/image/upload/v1593180301/jeu-de-mains-logo-blanc.svg" style="text-decoration: none; -ms-interpolation-mode: bicubic; height: auto; border: 0; display: block;" title="jeu-de-mains-logo" width="150"/>
  <% end %>
</div>



<div class="legal-container">
  <div class="legal-title mb-2">
    <h1>Politique de Confidentialité</h1>
  </div>
  <div class="legal-content">

    <div class="legal-paragraph">
      <p>
        Le but de cette politique de confidentialité est d'informer les utilisateurs de notre site <%= link_to "www.jeudemains.com", root_path %> des données personnelles que nous recueillerons ainsi que les informations suivantes, le cas échéant :
      </p>
      <ol>
        <li><p>Les données personnelles que nous recueillerons</p></li>
        <li><p>L’utilisateur des données recueillies</p></li>
        <li><p>Qui a accès aux données recueillies</p></li>
        <li><p>Les droits des utilisateurs du site</p></li>
      </ol>
    </div>

    <div class="legal-paragraph">
      <h2>Lois applicables</h2>
      <p>Conformément au Règlement général sur la protection des données personnelles (RGPD), cette politique de confidentialité est conforme aux règlements suivants.</p>
      <p>Les données à caractère personnel doivent être :</p>
      <ol>
        <li><p>Traitées de manière licite, loyale et transparente au regard de la personne concernée (licéité, loyauté, transparence) ;</p></li>
        <li><p>Collectées pour des finalités déterminées, explicites et légitimes, et ne pas être traitées ultérieurement d'une manière incompatible avec ces finalités; le traitement ultérieur à des fins archivistiques dans l'intérêt public, à des fins de recherche scientifique ou historique ou à des fins statistiques n'est pas considéré, conformément à l'article 89, paragraphe 1, comme incompatible avec les finalités initiales (limitation des finalités) ;</p></li>
        <li><p>Adéquates, pertinentes et limitées à ce qui est nécessaire au regard des finalités pour lesquelles elles sont traitées (minimisation des données) ;</p></li>
        <li><p>Exactes et, si nécessaire, tenues à jour; toutes les mesures raisonnables doivent être prises pour que les données à caractère personnel qui sont inexactes, eu égard aux finalités pour lesquelles elles sont traitées, soient effacées ou rectifiées sans tarder (exactitude) ;</p></li>
        <li><p>Conservées sous une forme permettant l'identification des personnes concernées pendant une durée n'excédant pas celle nécessaire au regard des finalités pour lesquelles elles sont traitées; les données à caractère personnel peuvent être conservées pour des durées plus longues dans la mesure où elles seront traitées exclusivement à des fins archivistiques dans l'intérêt public, à des fins de recherche scientifique ou historique ou à des fins statistiques conformément à l'article 89, paragraphe 1, pour autant que soient mises en œuvre les mesures techniques et organisationnelles appropriées requises par le règlement afin de garantir les droits et libertés de la personne concernée (limitation de la conservation) ;</p></li>
        <li><p>Traitées de façon à garantir une sécurité appropriée des données à caractère personnel, y compris la protection contre le traitement non autorisé ou illicite et contre la perte, la destruction ou les dégâts d'origine accidentelle, à l'aide de mesures techniques ou organisationnelles appropriées (intégrité et confidentialité).</p></li>
      </ol>
      <p>Le traitement n'est licite que si, et dans la mesure où, au moins une des conditions suivantes est remplie :</p>
      <ol>
        <li><p>La personne concernée a consenti au traitement de ses données à caractère personnel pour une ou plusieurs finalités spécifiques ;</p></li>
        <li><p>Le traitement est nécessaire à l'exécution d'un contrat auquel la personne concernée est partie ou à l'exécution de mesures précontractuelles prises à la demande de celle-ci ;</p></li>
        <li><p>Le traitement est nécessaire au respect d'une obligation légale à laquelle le responsable du traitement est soumis ;</p></li>
        <li><p>Le traitement est nécessaire à la sauvegarde des intérêts vitaux de la personne concernée ou d'une autre personne physique ;</p></li>
        <li><p>Le traitement est nécessaire à l'exécution d'une mission d'intérêt public ou relevant de l'exercice de l'autorité publique dont est investi le responsable du traitement ;</p></li>
        <li><p>Le traitement est nécessaire aux fins des intérêts légitimes poursuivis par le responsable du traitement ou par un tiers, à moins que ne prévalent les intérêts ou les libertés et droits fondamentaux de la personne concernée qui exigent une protection des données à caractère personnel, notamment lorsque la personne concernée est un enfant.</p></li>
      </ol>
    </div>

    <div class="legal-paragraph">
      <h2>Consentement</h2>
      <p>Les utilisateurs conviennent qu’en utilisant notre site, ils consentent à :</p>
      <ul>
        <li><p>les conditions énoncées dans la présente politique de confidentialité et</p></li>
        <li><p>la collecte, l’utilisation et la conservation des données énumérées dans la présente politique.</p></li>
      </ul>
    </div>

    <div class="legal-paragraph">
      <h2>Données personnelles que nous collectons</h2>
      <div class="legal-sub-paragraph">
        <h3>Données collectées automatiquement</h3>
        <p>Nous ne collectons aucune donnée automatiquement sur notre site.</p>
      </div>
      <div class="legal-sub-paragraph">
        <h3>Données recueillies de façon non automatique</h3>
        <p>Nous pouvons collecter les données suivantes lorsque vous effectuez certaines fonctions sur notre site : adresse e-mail.</p>
        <p>Ces données peuvent être recueillies au moyen de la méthode suivante :enregistrement de l'adresse email.</p>
        <p>Veuillez noter que nous ne collectons que les données qui nous aident à atteindre l’objectif énoncé dans cette politique de confidentialité. Nous ne recueillerons pas de données supplémentaires sans vous en informer au préalable.</p>
      </div>
      <div class="legal-sub-paragraph">
        <h3>Comment nous utilisons les données personnelles</h3>
        <p>Les données personnelles recueillies sur notre site seront utilisées uniquement aux fins précisées dans la présente politique ou indiquées sur les pages pertinentes de notre site. Nous n’utiliserons pas vos données au-delà de ce que nous divulguerons.</p>
        <p>Les données que nous recueillons lorsque l’utilisateur exécute certaines fonctions peuvent être utilisées aux fins suivantes : communication à l'occasion du lancement de la plateforme Jeu de Mains</p>
      </div>
      <div class="legal-sub-paragraph">
        <h3>Avec qui nous partageons les données personnelles</h3>
        <p><strong>Employés</strong><br>
        Nous pouvons divulguer à tout membre de notre organisation les données utilisateur dont il a raisonnablement besoin pour réaliser les objectifs énoncés dans la présente politique.</p>
        <p><strong>Autres divulgations</strong><br>
        Nous nous engageons à ne pas vendre ou partager vos données avec des tiers, sauf dans les cas suivants :</p>
        <ol>
          <li><p>Si la loi l'exige</p></li>
          <li><p>Si elle est requise pour toute procédure judiciaire</p></li>
          <li><p>Pour prouver ou protéger nos droits légaux</p></li>
        </ol>
        <p>Si vous suivez des hyperliens de notre site vers un autre site, veuillez noter que nous ne sommes pas responsables et n’avons pas de contrôle sur leurs politiques et pratiques de confidentialité.</p>
       </div>
       <div class="legal-sub-paragraph">
        <h3>Combien de temps nous stockons les données personnelles</h3>
        <p>Nous ne conservons pas les données des utilisateurs au-delà de ce qui est nécessaire pour atteindre les fins pour lesquelles elles sont recueillies.</p>
      </div>
      <div class="legal-sub-paragraph">
        <h3>Comment nous protégeons vos données personnelles</h3>
        <p>Alors que nous prenons toutes les précautions raisonnables pour nous assurer que nos données d’utilisateur sont sécurisées et que les utilisateurs sont protégés, il reste toujours du risque de préjudice. L’Internet en sa totalité peut être, parfois, peu sûr et donc nous sommes incapables de garantir la sécurité des données des utilisateurs au-delà de ce qui est raisonnablement pratique.</p>
      </div>
      <div class="legal-sub-paragraph">
        <h3>Mineurs</h3>
        <p>Le RGPD précise que les personnes de moins de 15 ans sont considérées comme des mineurs aux fins de la collecte de données. Les mineurs doivent avoir le consentement d’un représentant légal pour que leurs données soient recueillies, traitées et utilisées.</p>
      </div>
      <div class="legal-sub-paragraph">
        <h3>Vos droits en tant qu’utilisateur</h3>
        <p>En vertu du RGPD, les utilisateurs ont les droits suivants en tant que personnes concernées :</p>
        <ol>
          <li><p>Droit d'accès</p></li>
          <li><p>Droit de rectification</p></li>
          <li><p>Droit à l'effacement</p></li>
          <li><p>Droit de restreindre le traitement</p></li>
          <li><p>Droit à la portabilité des données</p></li>
          <li><p>Droit d’objection</p></li>
        </ol>
        <p>Vous trouverez de plus amples informations sur ces droits au chapitre 3 (art 12-23) du RGPD.</p>
      </div>
      <div class="legal-sub-paragraph">
        <h3>Comment modifier, supprimer ou contester les données recueillies</h3>
        <p>Si vous souhaitez que vos renseignements soient supprimés ou modifiés d’une façon ou d’une autre, veuillez communiquer avec notre agent de protection de la vie privée ici :</p>
        <p>Eugénie Coisne Denis • <%= link_to "contact@jeudemains.com", "mailto:contact@jeudemains.com" %> </p>
      </div>
      <div class="legal-sub-paragraph">
        <h3>Modifications</h3>
        <p>Cette politique de confidentialité peut être modifiée à l’occasion afin de maintenir la conformité avec la loi et de tenir compte de tout changement à notre processus de collecte de données. Nous recommandons à nos utilisateurs de vérifier notre politique de temps à autre pour s’assurer qu’ils soient informés de toute mise à jour. Au besoin, nous pouvons informer les utilisateurs par courriel des changements apportés à cette politique.</p>
      </div>
      <div class="legal-sub-paragraph">
        <h3>Nous contacter</h3>
        <p>Si vous avez des questions à nous poser, n’hésitez pas à communiquer avec nous en utilisant ce qui suit : <%= link_to "contact@jeudemains.com", "mailto:contact@jeudemains.com" %></p>
      </div>
    </div>


  </div>
</div>
