// FOOTER //

.footer {
  background-color: $light-blue;
  font-weight: 500;
  color: white;
  padding: 1.5rem 1rem;
  a {
    color: white;
    text-decoration: none;
    outline: none;
  }
  a:hover {
    color: $dark-blue;
  }
}

.footer-columns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-column {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  margin: 0 10px;
}

.footer-copyright {
  margin-top: 0.7rem;
  font-size: 13px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}



// RESPONSIVE DESIGN FOOTER //

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .footer {
    padding: 1.5rem 1rem;
  }
  .footer-columns {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3px;
  }
  .footer-column {
    font-size: 14px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  .footer-columns {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px)  {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px)  {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
