<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="author" content="Jeu de Mains">

    <title>Jeu de mains | ateliers créatifs</title>
    <meta name="description" content="Offrez-vous un moment de détente créatif ! Réservez sur Jeu de Mains votre atelier couture, tricot, art floral, cosmétique, broderie, paper art, céramique, peinture, bijoux et plein d’autres encore sur jeudemains.com et profitez d’un moment convivial et instructif autour du faire soi-même.">

        <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Jeu de mains | ateliers créatifs" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.jeudemains.com/" />
    <meta property="og:image" content="https://res.cloudinary.com/eugeniedenis/image/upload/v1601545768/cover-fb-twitter_zgvdby.png" />
    <meta property="og:description" content="Offrez-vous un moment de détente créatif ! Réservez sur Jeu de Mains votre atelier couture, tricot, art floral, cosmétique, broderie, paper art, céramique, peinture, bijoux et plein d’autres encore sur jeudemains.com et profitez d’un moment convivial et instructif autour du faire soi-même." />
    <meta property="og:site_name" content="Jeu de mains | ateliers créatifs" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@CoisneE">
    <meta name="twitter:title" content="Jeu de mains | ateliers créatifs">
    <meta name="twitter:description" content="Offrez-vous un moment de détente créatif ! Réservez sur Jeu de Mains votre atelier couture, tricot, art floral, cosmétique, broderie, paper art, céramique, peinture, bijoux et plein d’autres encore sur jeudemains.com et profitez d’un moment convivial et instructif autour du faire soi-même.">
    <meta name="twitter:creator" content="@CoisneE">
    <meta name="twitter:image:src" content="https://res.cloudinary.com/eugeniedenis/image/upload/v1601545768/cover-fb-twitter_zgvdby.png">

    <link rel="shortcut icon" type="image/x-icon" href="https://res.cloudinary.com/eugeniedenis/image/upload/v1601583008/favicon_wjq0vp.png" />
    <meta name="csrf-param" content="authenticity_token" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
